[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/cross-chain-deposit-module"]
	path = lib/cross-chain-deposit-module
	url = https://github.com/roycoprotocol/cross-chain-deposit-module
